// bower:scss
@import "bower_components/bourbon/app/assets/stylesheets/_bourbon.scss";
@import "bower_components/font-awesome/scss/font-awesome.scss";
// endbower
$accent-color: #39bbec;
$primary:#252525;
$white: #fff;
//
a {
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

a:hover {
  text-decoration: none;
  -webkit-transition: all 0.15s linear 0s;
  -moz-transition: all 0.15s linear 0s;
  -o-transition: all 0.15s linear 0s;
  -ms-transition: all 0.15s linear 0s;
  transition: all 0.15s linear 0s;
}

a:focus {
  outline: medium none;
  text-decoration: none;
}

a img {
  -webkit-transition: all 0.15s ease-in-out 0s;
  -moz-transition: all 0.15s ease-in-out 0s;
  -o-transition: all 0.15s ease-in-out 0s;
  -ms-transition: all 0.15s ease-in-out 0s;
  transition: all 0.15s ease-in-out 0s;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

//
body {
  background: #fff;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: $primary;
  font-size: 16px;
}

#top-nav {
  margin-top: 20px;
  // .logo {
  //   p {
  //     text-transform: uppercase;
  //     font-size: 14px;
  //     b {
  //       color: $accent-color;
  //       font-weight: 700;
  //     }
  //   }
  // }
  .language-select-wrapper {
    margin-top: 5px;
    label {
      select {
        width: 150px;
        border-radius: 20px;
      }
    }
    span {
      font-size: 14px;
      color: #2c2c2c;
      padding-left: 15px;
    }
  }
  .wrapper-search {
    margin-top: 15px;
    label {
      width: 100%;
      #search-line {
        border-radius: 20px;
        width: 95%;
        height: 25px;
        background-color: #fff;
        padding-left: 20px;
        outline: none;
        border: 1px solid #a6a8a9;
        color: #050000;
        position: relative;
        font-size: 14px;
        font-weight: 400;
      }
      button {
        position: absolute;
        height: 25px;
        right: 10px;
        background-color: #f2f7f8;
        border: none;
      }
    }
  }
}

menu {
  padding-left: 0;
  margin-top: 20px;
  margin-bottom: -40px;
  .title {
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 0;
    padding-right: 15px;
    b {
      color: $accent-color;
      font-weight: 700;
    }
  }
  ul {
    padding-left: 0;
    display: inline-block;
    background-color: $accent-color;
    margin-bottom: 0;
    padding: 0 10px;
    border-radius: 20px;
    li {
      display: inline-block;
      list-style: none;
      padding: 5px;
      position: relative;
      &:before {
        content: "";
        background-image: url("../images/menu-line.png");
        width: 2px;
        height: 30px;
        display: block;
        position: absolute;
        right: -3px;
        top: 1px;
      }
      &:last-child {
        &:before {
          content: "";
          background-image: none;
        }
      }
      a {
        color: $white;
        font-size: 14px;
        font-weight: 600;
        &:hover {
          color: $primary;
        }
      }
    }
  }
}

#slider {
  .wrapper-clicker {
    position: relative;
    z-index: 999;
    top: 300px;
    #prev,
    #next {
      background-color: transparent;
    }
    #next {
      background-image: url("../images/button-right.png");
      display: block;
      height: 69px;
      width: 69px;
    }
    #prev {
      background-image: url("../images/button-left.png");
      display: block;
      height: 69px;
      width: 69px;
    }
  }
}

hr {
  background-image: url("../images/hr.png");
  height: 2px;
  width: 100%;
  margin: 25px 0;
}

#soc {
  .heading {
    margin-bottom: 15px;
    p {
      img {
        margin-right: 15px;
      }
      text-transform: uppercase;
      font-weight: 300;
      font-size: 30px;
    }
  }
  // .icon {
  //   margin-top: 30px;
  // }
  .text {
    p {
      font-size: 14px;
      // line-height: 1.2;
      font-weight: 300;
    }
  }
}

#soc-poslug {
  .heading {
    margin-bottom: 15px;
    p {
      img {
        margin-right: 5px;
      }
      text-transform: uppercase;
      font-weight: 300;
      font-size: 30px;
    }
  }
  .wrapper {
    background-image: url("../images/soc-bg-one.png");
    background-repeat: no-repeat;
    background-position: 50% 0;
    height: 373px;
    .wrapper-inside {
      position: absolute;
      top: 75%;
      /* left: 50%; */
      -webkit-transform: translate(0%, -50%);
      transform: translate(0%, 75%);
      width: 60%;
      line-height: 1.2;
      .title {
        color: #fff;
        font-weight: 300;
        font-size: 20px;
        text-transform: uppercase;
      }
      .text {
        p {
          color: #fff;
          font-size: 14px;
        }
      }
      .marg {
        margin-top: -45px;
      }
    }
  }
}

#soc-poslug-two {
  margin-top: -55px;
  .wrapper {
    background-image: url("../images/soc-bg-two.png");
    background-repeat: no-repeat;
    background-position: 50% 0;
    height: 373px;
    .wrapper-inside {
      position: absolute;
      top: 75%;
      /* left: 50%; */
      -webkit-transform: translate(0%, -50%);
      transform: translate(0%, 75%);
      width: 60%;
      line-height: 1.2;
      .title {
        color: #fff;
        font-weight: 300;
        font-size: 20px;
        text-transform: uppercase;
      }
      .text {
        p {
          color: #fff;
          font-size: 14px;
        }
      }
      .marg {
        margin-top: -45px;
      }
    }
  }
}

#soc-poslug-three {
  margin-top: -55px;
  .wrapper {
    background-image: url("../images/soc-bg-three.png");
    background-repeat: no-repeat;
    background-position: 50% 0;
    height: 373px;
    .wrapper-inside {
      position: absolute;
      top: 75%;
      /* left: 50%; */
      -webkit-transform: translate(0%, -50%);
      transform: translate(0%, 75%);
      width: 60%;
      line-height: 1.2;
      .title {
        color: #fff;
        font-weight: 300;
        font-size: 20px;
        text-transform: uppercase;
      }
      .text {
        p {
          color: #fff;
          font-size: 14px;
        }
      }
      .marg {
        margin-top: -45px;
      }
    }
  }
}

#soc-poslug-four {
  margin-top: -55px;
  .wrapper {
    background-image: url("../images/soc-bg-four.png");
    background-repeat: no-repeat;
    background-position: 50% 0;
    height: 373px;
    .wrapper-inside {
      position: absolute;
      top: 75%;
      /* left: 50%; */
      -webkit-transform: translate(0%, -50%);
      transform: translate(0%, 75%);
      width: 60%;
      line-height: 1.2;
      .title {
        color: #fff;
        font-weight: 300;
        font-size: 20px;
        text-transform: uppercase;
      }
      .text {
        p {
          color: #fff;
          font-size: 14px;
        }
      }
      .marg {
        margin-top: -45px;
      }
    }
  }
}

#soc-poslug-five {
  margin-top: -55px;
  .wrapper {
    background-image: url("../images/soc-bg-five.png");
    background-repeat: no-repeat;
    background-position: 50% 0;
    height: 373px;
    .wrapper-inside {
      position: absolute;
      top: 75%;
      /* left: 50%; */
      -webkit-transform: translate(0%, -50%);
      transform: translate(0%, 75%);
      width: 60%;
      line-height: 1.2;
      .title {
        color: #fff;
        font-weight: 300;
        font-size: 20px;
        text-transform: uppercase;
      }
      .text {
        p {
          color: #fff;
          font-size: 14px;
        }
      }
      .marg {
        margin-top: -45px;
      }
    }
  }
}

#form-bg {
  margin-top: -55px;
  padding-bottom: 15px;
  background-image: url("../images/form-bg.png");
  background-repeat: no-repeat;
  background-position: 50% 0;
  padding-top: 55px;
  .heading {
    margin-top: 40px;
    p {
      font-size: 30px;
      color: #fff;
      b {
        color: $accent-color;
      }
      span {
        font-weight: 300;
      }
    }
  }
  form {
    input {
      border: 1px solid #fff;
      background-color: transparent;
      height: 35px;
      width: 300px;
      margin: 0 20px;
      text-align: center;
      color: #fff;
      font-size: 16px;
      font-weight: 400;
      @include placeholder {
        color: #fff;
      }
      ;
      &:focus {
        @include placeholder {
          color: transparent;
        }
      }
    }
    p {
      margin-top: 10px;
    }
    textarea {
      width: 450px;
      height: 120px;
      resize: none;
      border: 1px solid #fff;
      background-color: transparent;
      padding: 5px;
      color: #fff;
      font-size: 16px;
      font-weight: 400;
    }
    button {
      border: none;
      background-color: #fff;
      border-radius: 20px;
      font-size: 16px;
      color: $accent-color;
      padding: 5px 10px;
      font-weight: 600;
      &:hover {
        background-color: darken(#fff, 15%);
      }
    }
  }
}

#for-soc {
  .heading {
    margin-bottom: 15px;
    p {
      img {
        margin-right: 15px;
      }
      text-transform: uppercase;
      font-weight: 300;
      font-size: 30px;
    }
  }
}
